<div class="adminx-sidebar expand-hover push">
  <ul class="sidebar-nav">
    <li class="sidebar-nav-item">
      <a href="/adminDashboard" class="sidebar-nav-link active">
        <span class="sidebar-nav-icon">
          <i data-feather="home"></i>
        </span>
        <span class="sidebar-nav-name">
        Admin  Dashboard
        </span>
        <span class="sidebar-nav-end">

        </span>
      </a>
    </li>
    <!-- EJS ADD -->

    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#example" aria-expanded="false" aria-controls="example">
        <span class="sidebar-nav-icon">
          <i data-feather="user"></i>
        </span>
        <span class="sidebar-nav-name">
          Customer
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

      <ul class="sidebar-sub-nav collapse" id="example">
        <li class="sidebar-nav-item">
          <a href="/addCustomers" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              <i data-feather="edit"></i>
              
            </span>
            <span class="sidebar-nav-name">
               Add Customer
            </span>
          </a>
        </li>

        <li class="sidebar-nav-item">
          <a href="/customers" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              <i data-feather="file-text"></i>
            </span>
            <span class="sidebar-nav-name">
              View Customer
            </span>
          </a>
        </li>
      </ul>
    </li>
    

   <li class="sidebar-nav-item">
      <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navTables" aria-expanded="false" aria-controls="navTables">
        <span class="sidebar-nav-icon">
          <i data-feather="users"></i>
        </span>
        <span class="sidebar-nav-name">
          Team
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

      <ul class="sidebar-sub-nav collapse" id="navTables">
        <!-- <ul class="sidebar-sub-nav collapse" id="example"> -->
          <li class="sidebar-nav-item">
            <a href="/addDevelopers" class="sidebar-nav-link">
              <span class="sidebar-nav-abbr">
                <i data-feather="edit"></i>
                
              </span>
              <span class="sidebar-nav-name">
                 Add Team
              </span>
            </a>
          </li>

        <li class="sidebar-nav-item">
          <a href="/developers" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              <i data-feather="file-text" ></i>

            </span>
            <span class="sidebar-nav-name">
              View Team
            </span>
          </a>
        </li>
      </ul>
    </li>


    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#example10" aria-expanded="false" aria-controls="example10">
        <span class="sidebar-nav-icon">
          <i data-feather="user"></i>
        </span>
        <span class="sidebar-nav-name">
          Project Manager
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

      <ul class="sidebar-sub-nav collapse" id="example10">
        <li class="sidebar-nav-item">
          <a href="/addProjectManager" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              <i data-feather="edit"></i>
              
            </span>
            <span class="sidebar-nav-name">
               Add Project Manager
            </span>
          </a>
        </li>

        <li class="sidebar-nav-item">
          <a href="/projectManager" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              <i data-feather="file-text"></i>
            </span>
            <span class="sidebar-nav-name">
              View  Project Manager
            </span>
          </a>
        </li>
      </ul>
    </li>

  



    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navTables4" aria-expanded="false" aria-controls="navTables4">
        <span class="sidebar-nav-icon">
          <i data-feather="users"></i>
        </span>
        <span class="sidebar-nav-name">
          Project Name
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

      <ul class="sidebar-sub-nav collapse" id="navTables4">
        <!-- <ul class="sidebar-sub-nav collapse" id="example"> -->
          <li class="sidebar-nav-item">
            <a href="/addProjectName" class="sidebar-nav-link">
              <span class="sidebar-nav-abbr">
                <i data-feather="edit"></i>
                
              </span>
              <span class="sidebar-nav-name">
                 Add Project Name
              </span>
            </a>
          </li>

      
      </ul>
    </li>
    


    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navTables5" aria-expanded="false" aria-controls="navTables5">
        <span class="sidebar-nav-icon">
          <i data-feather="users"></i>
        </span>
        <span class="sidebar-nav-name">
        Status
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

      <ul class="sidebar-sub-nav collapse" id="navTables5">
        <!-- <ul class="sidebar-sub-nav collapse" id="example"> -->
          <li class="sidebar-nav-item">
            <a href="/addStatus" class="sidebar-nav-link">
              <span class="sidebar-nav-abbr">
                <i data-feather="edit"></i>
                
              </span>
              <span class="sidebar-nav-name">
                 Add Status
              </span>
            </a>
          </li>

      
      </ul>
    </li>

    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navTables2" aria-expanded="false" aria-controls="navTables2">
        <span class="sidebar-nav-icon">
          <i data-feather="users"></i>
        </span>
        <span class="sidebar-nav-name">
        Project Management
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

      <ul class="sidebar-sub-nav collapse" id="navTables2">
        <!-- <ul class="sidebar-sub-nav collapse" id="example"> -->
          <li class="sidebar-nav-item">
            <a href="/addProject" class="sidebar-nav-link">
              <span class="sidebar-nav-abbr">
                <i data-feather="edit"></i>
                
              </span>
              <span class="sidebar-nav-name">
                 Add Project
              </span>
            </a>
          </li>

        <li class="sidebar-nav-item">
          <a href="/projects" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              <i data-feather="file-text" ></i>

            </span>
            <span class="sidebar-nav-name">
           View Project 
            </span>
          </a>
        </li>
      </ul>
    </li>


    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link " href="/adminProfile" >     
        <span class="sidebar-nav-icon">
          <i data-feather="users"></i>
        </span>
        <span class="sidebar-nav-name">
        Profile
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

    
    </li>


 

    
   
  </ul>

</div>