<div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="/dashboard" class="text-nowrap logo-img">
        <img src="https://themewagon.github.io/Modernize/src/assets/images/logos/dark-logo.svg" width="180" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/dashboard" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">UI COMPONENTS</span>
        </li>
      
      
       
        <li class="sidebar-item">
          <a class="sidebar-link" href="/menuList" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Menu</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/footerTitle" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Footer Title</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/footerLinkList" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Footer Links</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/ourClients" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Our Clients </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/slider" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Slider </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/technologies" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Technologies </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/awards" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Awards </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/offering" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Offering </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/industries" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Industries </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/successStories" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Success Stories </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/carrers" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Carrers </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/blogs" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Blogs </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/currentOpning" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Current Opning </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/careersPageTitle" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Careers Page Titles </span>
          </a>
        </li>
        <li class="sidebar-item d-none">
          <a class="sidebar-link" href="/masterPage" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Master Page </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/logoMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Logo Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/menuMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Menu Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/headerMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Header Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/createPageMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Create Page </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/slaiderMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Slaider Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/clientsMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Clients Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/successStoryMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Success Story Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/technologiesMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Technologies Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/offeringMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Offering Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/industriesMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Industries Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/awardsMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Awards Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/blogMaster" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Blogs Master </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/allQuerys" aria-expanded="false">
            <span>
              <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Querys </span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">AUTH</span>
        </li>
        <li class="sidebar-item">

        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/logout" aria-expanded="false">
            <span>
              <i class="ti ti-user-plus"></i>
            </span>
            <span class="hide-menu">Logout</span>
          </a>
        </li>
      
      <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
        <div class="d-flex">
          <div class="unlimited-access-title me-3">
            <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
            <a href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
          </div>
          <div class="unlimited-access-img">
            <img src="../assets/images/backgrounds/rocket.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </nav>
    <!-- End Sidebar navigation -->
  </div>